# This file is managed by plycloud.com

[global]
   workgroup = {{ pillar.plycloud.file_server.samba.workgroup }}
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 1000
   syslog = 0
   panic action = /usr/share/samba/panic-action %d
   server role = standalone server
   passdb backend = tdbsam
   obey pam restrictions = yes
   unix password sync = yes
   passwd program = /usr/bin/passwd %u
   passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
   pam password change = yes
   map to guest = bad user
   usershare allow guests = yes

#======================= Share Definitions =======================
[homes]
   comment = Home Directories
   browseable = no
   read only = no
   create mask = 0700
   directory mask = 0700
   valid users = %S

{% for samba_share, details in pillar.plycloud.file_server.samba.shares.iteritems() %}
[{{ samba_share }}]
   path = {{ details.path }}
   map acl inherit = yes
   inherit acls = yes
   browseable = yes
   public = yes
   writable = yes
   inherit permissions = yes
   posix locking = yes
   nt acl support = yes
   create mask = 0775
   directory mask = 0775
   strict locking = no
   store dos attributes = yes
   csc policy = disable
   guest ok = yes
   read only = no
{% endfor %}