{% set hostname = pillar.plycloud.os.network.system.hostname %}
{% set domain = pillar.plycloud.os.network.system.domain %}
#
# This file is managed by salt from plycloud.com
#

# Defaults start

clientid
persistent
option rapid_commit
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
option ntp_servers
require dhcp_server_identifier
slaac private
nohook lookup-hostname

# Defaults end

hostname {{ hostname }}
{% for interface, details in pillar.plycloud.os.network.system.interface.iteritems() %}
interface {{ interface }} 
static ip_address={{ details.ip }}/{{ details.cidr }}
static routers={{ details.gateway }}
static domain_name_servers={{ ' '.join(details.dns) }}
{% endfor %}
